<?xml version="1.0"?>
<!--
/**
 * MageSpecialist
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magespecialist.it so we can send you a copy immediately.
 *
 * @category   Adabra
 * @package    Adabra_Realtime
 * @copyright  Copyright (c) 2017 Skeeller srl / MageSpecialist (http://www.magespecialist.it)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Adabra_Realtime>
            <version>0.1.0</version>
        </Adabra_Realtime>
    </modules>
    <global>
        <helpers>
            <adabra_realtime>
                <class>Adabra_Realtime_Helper</class>
            </adabra_realtime>
        </helpers>

        <models>
            <adabra_realtime>
                <class>Adabra_Realtime_Model</class>
                <resourceModel>adabra_realtime_resource</resourceModel>
            </adabra_realtime>
            <adabra_realtime_resource>
                <class>Adabra_Realtime_Model_Resource</class>
                <entities>
                    <queue>
                        <table>adabra_realtime_queue</table>
                    </queue>
                </entities>
            </adabra_realtime_resource>
        </models>

        <resources>
            <adabra_realtime_setup>
                <setup>
                    <module>Adabra_Realtime</module>
                </setup>
            </adabra_realtime_setup>
        </resources>

        <events>
            <catalog_product_save_after>
                <observers>
                    <adabra_realtime>
                        <type>singleton</type>
                        <class>adabra_realtime/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </adabra_realtime>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <adabra_realtime>
                        <type>singleton</type>
                        <class>adabra_realtime/observer</class>
                        <method>catalogCategorySaveAfter</method>
                    </adabra_realtime>
                </observers>
            </catalog_category_save_after>
            <catalog_category_save_commit_after>
                <observers>
                    <arreda_categoryposition>
                        <class>adabra_realtime/observer</class>
                        <method>catalogCategorySaveCommitAfter</method>
                    </arreda_categoryposition>
                </observers>
            </catalog_category_save_commit_after>
        </events>
    </global>

    <crontab>
        <jobs>
            <adabra_realtime_process_queue>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>adabra_realtime/cron::processQueue</model>
                </run>
            </adabra_realtime_process_queue>
        </jobs>
    </crontab>

    <default>
        <adabra_realtime>
            <general>
                <enabled>0</enabled>
                <use_cron>1</use_cron>
            </general>
        </adabra_realtime>
    </default>
</config>