<?xml version="1.0"?>
<!--
/**
 * MageSpecialist
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magespecialist.it so we can send you a copy immediately.
 *
 * @category   Adabra
 * @package    Adabra_Tracking
 * @copyright  Copyright (c) 2017 Skeeller srl / MageSpecialist (http://www.magespecialist.it)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Adabra_Tracking>
            <version>0.2.4</version>
        </Adabra_Tracking>
    </modules>
    <global>
        <blocks>
            <adabra_tracking>
                <class>Adabra_Tracking_Block</class>
            </adabra_tracking>
        </blocks>
        <helpers>
            <adabra_tracking>
                <class>Adabra_Tracking_Helper</class>
            </adabra_tracking>
        </helpers>
        <models>
            <adabra_tracking>
                <class>Adabra_Tracking_Model</class>
            </adabra_tracking>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <adabra_tracking>
                    <file>adabra_tracking.xml</file>
                </adabra_tracking>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <adabra_tracking>
                        <type>singleton</type>
                        <class>adabra_tracking/observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </adabra_tracking>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <adabra_tracking>
                        <type>singleton</type>
                        <class>adabra_tracking/observer</class>
                        <method>salesQuoteRemoveItem</method>
                    </adabra_tracking>
                </observers>
            </sales_quote_remove_item>
            <customer_register_success>
                <observers>
                    <adabra_tracking>
                        <type>singleton</type>
                        <class>adabra_tracking/observer</class>
                        <method>customerRegisterSuccess</method>
                    </adabra_tracking>
                </observers>
            </customer_register_success>
            <sales_order_place_after>
                <observers>
                    <adabra_tracking>
                        <type>singleton</type>
                        <class>adabra_tracking/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </adabra_tracking>
                </observers>
            </sales_order_place_after>
            <controller_action_predispatch_checkout_cart_updatePost>
                <observers>
                    <adabra_tracking>
                        <type>singleton</type>
                        <class>adabra_tracking/observer</class>
                        <method>controllerActionPredispatchCheckoutCartUpdatePost</method>
                    </adabra_tracking>
                </observers>
            </controller_action_predispatch_checkout_cart_updatePost>
        </events>
    </frontend>
    <default>
        <adabra_tracking>
            <general>
                <enabled>0</enabled>
                <test_mode>1</test_mode>
                <sku_blacklist></sku_blacklist>
            </general>
            <page_types>
                <homepage>cms_index_index</homepage>
                <category>catalog_category_view</category>
                <product>catalog_product_view</product>
                <cart>checkout_cart_index</cart>
                <search>catalogsearch_result_index</search>
                <landing></landing>
                <not_found>cms_index_noroute</not_found>
                <registration>customer_account_create</registration>
                <checkout>checkout_onepage_index</checkout>
            </page_types>
        </adabra_tracking>
    </default>
</config>