<?xml version="1.0"?>
<!--
/**
 * MageSpecialist
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@magespecialist.it so we can send you a copy immediately.
 *
 * @category   Adabra
 * @package    Adabra_Feed
 * @copyright  Copyright (c) 2017 Skeeller srl / MageSpecialist (http://www.magespecialist.it)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Adabra_Feed>
            <version>0.2.2</version>
        </Adabra_Feed>
    </modules>

    <global>
        <blocks>
            <adabra_feed>
                <class>Adabra_Feed_Block</class>
            </adabra_feed>
        </blocks>
        <models>
            <adabra_feed>
                <class>Adabra_Feed_Model</class>
                <resourceModel>adabra_feed_resource</resourceModel>
            </adabra_feed>
            <adabra_feed_resource>
                <class>Adabra_Feed_Model_Resource</class>
                <entities>
                    <feed>
                        <table>adabra_feed</table>
                    </feed>
                    <vfield>
                        <table>adabra_feed_vfield</table>
                    </vfield>
                </entities>
            </adabra_feed_resource>
        </models>
        <helpers>
            <adabra_feed>
                <class>Adabra_Feed_Helper</class>
            </adabra_feed>
        </helpers>
        <resources>
            <adabra_feed_setup>
                <setup>
                    <module>Adabra_Feed</module>
                </setup>
            </adabra_feed_setup>
        </resources>
    </global>

    <frontend>
        <routers>
            <adabra_feed>
                <use>standard</use>
                <args>
                    <frontName>adabra_feed</frontName>
                    <module>Adabra_Feed</module>
                </args>
            </adabra_feed>
        </routers>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Adabra_Feed before="Mage_Adminhtml">Adabra_Feed_Adminhtml</Adabra_Feed>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <crontab>
        <jobs>
            <adabra_feed_build_next>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>adabra_feed/cron::buildNext</model>
                </run>
            </adabra_feed_build_next>
            <adabra_feed_rebuild_feeds>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>adabra_feed/cron::rebuildFeeds</model>
                </run>
            </adabra_feed_rebuild_feeds>
        </jobs>
    </crontab>

    <default>
        <adabra_feed>
            <general>
                <use_cron>1</use_cron>
                <rebuild_time>0,18</rebuild_time>
                <image_type>image</image_type>
                <image_size>300</image_size>
                <compress>0</compress>
            </general>
            <http>
                <enabled>0</enabled>
                <user></user>
                <pass></pass>
            </http>
            <ftp>
                <enabled>0</enabled>
                <user></user>
                <pass></pass>
                <host></host>
                <port>21</port>
                <path></path>
                <ssl>0</ssl>
                <passive>0</passive>
            </ftp>
            <batch_size>
                <product>1000</product>
                <order>500</order>
                <customer>1000</customer>
                <category>100</category>
            </batch_size>
            <order>
                <states>closed,complete</states>
            </order>
        </adabra_feed>
    </default>
</config>