<?xml version="1.0"?>
<config>
    <modules>
        <Adabra_Tracking>
            <version>0.1.4</version>
        </Adabra_Tracking>
    </modules>
    <global>
        <blocks>
            <adabra_tracking>
                <class>Adabra_Tracking_Block</class>
            </adabra_tracking>
        </blocks>
        <helpers>
            <adabra_tracking>
                <class>Adabra_Tracking_Helper</class>
            </adabra_tracking>
        </helpers>
        <models>
            <adabra_tracking>
                <class>Adabra_Tracking_Model</class>
            </adabra_tracking>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <adabra_tracking>
                    <file>adabra_tracking.xml</file>
                </adabra_tracking>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <adabra_tracking>
                        <type>singleton</type>
                        <class>adabra_tracking/observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </adabra_tracking>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <adabra_tracking>
                        <type>singleton</type>
                        <class>adabra_tracking/observer</class>
                        <method>salesQuoteRemoveItem</method>
                    </adabra_tracking>
                </observers>
            </sales_quote_remove_item>
            <customer_register_success>
                <observers>
                    <adabra_tracking>
                        <type>singleton</type>
                        <class>adabra_tracking/observer</class>
                        <method>customerRegisterSuccess</method>
                    </adabra_tracking>
                </observers>
            </customer_register_success>
            <sales_order_place_after>
                <observers>
                    <adabra_tracking>
                        <type>singleton</type>
                        <class>adabra_tracking/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </adabra_tracking>
                </observers>
            </sales_order_place_after>
            <controller_action_predispatch_checkout_cart_updatePost>
                <observers>
                    <adabra_tracking>
                        <type>singleton</type>
                        <class>adabra_tracking/observer</class>
                        <method>controllerActionPredispatchCheckoutCartUpdatePost</method>
                    </adabra_tracking>
                </observers>
            </controller_action_predispatch_checkout_cart_updatePost>
        </events>
    </frontend>
    <default>
        <adabra_tracking>
            <general>
                <enabled>0</enabled>
                <test_mode>1</test_mode>
            </general>
            <page_types>
                <homepage>cms_index_index</homepage>
                <category>catalog_category_view</category>
                <product>catalog_product_view</product>
                <cart>checkout_cart_index</cart>
                <search>catalogsearch_result_index</search>
                <landing></landing>
                <not_found>cms_index_noroute</not_found>
                <registration>customer_account_create</registration>
                <checkout>checkout_onepage_index</checkout>
            </page_types>
        </adabra_tracking>
    </default>
</config>